<!DOCTYPE html>
<html>

<head>
    <title>PokeClicker Underground Tool</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .responsive-form {
            width: 100%;
            display: flex;
        }

        .form-group {
            display: flex;
            width: 100%;
            align-items: stretch;
        }

        .text-area {
            width: 90%;
            resize: none;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px 0 0 4px;
            outline: none;
        }

        .submit-button {
            width: 10%;
            border: 1px solid #ccc;
            border-left: none;
            border-radius: 0 4px 4px 0;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            padding: 10px;
            box-sizing: border-box;
        }

        .submit-button:hover {
            background-color: #0056b3;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(25, 1fr);
            grid-template-rows: repeat(12, 1fr);
            gap: 0;
            margin: 0;
            padding: 0;
        }

        .grid-container img {
            width: 100%;
            display: block;
        }
    </style>
</head>

<body>
    <form class="responsive-form" id="base64Form">
        <div class="form-group">
            <textarea class="text-area" id="base64Input" rows="1" placeholder="Paste Save Here"></textarea>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </form>

    <div class="grid-container">
        <% for (let y=0; y < 12; y++) { %>
            <% for (let x=0; x < 25; x++) { %>
                <img id=<%=' x' + x + 'y' + y %> src=<%='assets/' + 0 + '.png' %>>
                    <% } %>
                        <% } %>`
    </div>
</body>

<script>
    document.getElementById('base64Form').addEventListener('submit', function (event) {
        event.preventDefault();

        const base64String = document.getElementById('base64Input').value;

        try {
            const mineData = JSON.parse(atob(base64String)).save.underground.mine;
            console.log('Decoded String:', mineData);

            manipulateGrid(mineData);

        } catch (error) {
            console.error('Error determining mine data:', error);
        }
    });

    function manipulateGrid(mineData) {
        const items = mineData.itemsBuried + mineData.itemsFound;

        for (let x = 0; x < 25; x++) {
            for (let y = 0; y < 12; y++) {
                document.getElementById('x' + x + 'y' + y).src = 'assets/' + mineData.grid[y][x] + '.png';

                if (mineData.rewardGrid[y][x] !== 0) {
                    distinctItems.add(mineData.rewardGrid[y][x]);
                }
            }
        }

        console.log('Number of distinct values:', distinctItems.size);
    }
</script>

</html>